



<!-- The .ejs files in the layouts folder allow the site to be rendered dynamically, they also allow our code in our main index files to be cleaner. -->

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="02designstudio.com">Portfolio site</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <!-- If statments show or hide the items depending if the user is logged in or not.-->
                <% if (loggedin) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/new">New Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Log out</a>
                </li>
                <% } %>
                
                <% if (!loggedin) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/register">New User</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>